<!DOCTYPE html>

<html>
	
	{{> head}}

	<body>
		
		<section id="coluna-imperativa">
			<div id="coluna-imperativa__conteudo">
				
				{{> conteudopadraocolimperativa}}
				{{> boxtextopoesia}}

			</div>
		</section>



		<!-- Coluna Principal -->

		<main>

			{{> cabecalhoextenso}}

			<section id="coluna-principal" class="ver-folhas">
				<div id="conteudo__coluna-principal">
					<div class="mensagens-interativas">
						<p id="msg-principal" class="faixa-texto"> Há {{listaFolhas.length}} folha(s) em seu diário, {{nomeUsuario}} </p>
						<p id="msg-secundaria" class="faixa-texto"> Escolha para relembrar: </p>
					</div>

					<div id="box-ver-folhas" class="box-central ">
						<div id="lista-folhas">
							{{#mostrarFolhas listaFolhas}}
								<div class="barra-vertical">
									<a href="exibir-folhas/{{numeroFolha}}">
										<div id="resumo-folha">
											<p class="titulo-folha"> {{tituloFolha}} </p>
											<div class="informacoes-folha">
												<span class="numero-folha faixa-texto"> Folha {{numeroFolha}} </span>
												<span class="momento-escrita faixa-texto"> {{dataEscrita}} </span>
											</div>
										</div>
									</a>
								</div>
							{{/mostrarFolhas}}
						</div>
					</div>
					<button id="botao-mais" class="botao-pequeno">Mais Antigas</button>
					<div id="barra-rotacionada_ver-folha"></div>
				</div>
			</section>
		</main>
		
	
	

		{{> footer}}
	
		
		
		

		<script type="text/javascript" src="/javascripts/funcoes-momento-presente.js"></script>
	</body>
</html>



			
